*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("../images/bg-intro-mobile.png");
    background-color: hsl(0, 100%, 74%);
    font-family: 'Poppins', sans-serif;
}
.conteiner_tex{
    margin: 3em 0;
    width: 100%;
    box-sizing: border-box;
}
h1{
    padding: 1em 2em;
    text-align: center;
    color: white;
    font-size: 22px;
}
.text_header{
    text-align: center;
    padding: 0 1em;
    color: hsl(246, 25%, 77%);
}
.btn{   /* este es el div de mis a's*/
    margin-top: 1em;
    width: 100%;     /* 100vw abarca toda la pantalla y 100% abarca todo el contenido padrex*/
    display: flex;  /*para centrar*/
    box-sizing: border-box;
    position: relative;
}
.enlace{ /*mi etiqueta a*/
    color: ivory;
    text-decoration: none;
    margin: auto;
    width: 87%;  /* aqui  le di un ancho del 70 del div btn*/
    text-align: center;
    box-sizing: border-box;
}
/* letras de mis enlaces */
.ligero{
    font-weight: 300;
    color: hsl(246, 25%, 77%);
}
.grueso{
    font-weight: 600;
}
/*  */

/* mis botones */
.first_btn{
    position: relative;
    font-size: 19px;
    font-weight: bold;
    background-color: hsl(248, 32%, 49%);
    padding: 1em 0  ;
    border-radius: 10px;
    box-shadow: 5px 10px 4px -5px  hsl(246, 25%, 77%) ;
    outline: none;
}
/*  */
/* contiene div .text, lo que est abajo */
.form_center{
    /* display: flex; */
    width: 100%;
    /* solo le di un width y en .tetx le di margin auto */
    margin-top: 2em;
    margin-bottom: 5em;
}
/* contenedor de inputs, div btn y parrafo */
.text{
    display: block;
    border: 1px solid brown;
    width: 87%;
    margin-top: 1em;
    box-sizing: border-box;
    text-align: center;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
}
/* mis inputs */
.valores{  
    box-sizing: border-box;
    width: 87%;
    margin: 1.3em 0;
    padding: 1.5em;
    border: 1px solid hsl(246, 25%, 77%);
    text-align: justify;
    border-radius: 10px;
    font-weight: 600;
    outline: none; /* para quitar el sellecionador azul que se forma al rededor cuando lo selecciono*/
}
/* para cambiar el color dentro del input */
::placeholder{
    color: hsl(0, 100%, 74%);
}
/* primer hijo de tipo input */
input:first-child{
    margin-top: 2em;
}
/* le damos como margin 0 al div.btn de mi vin.text */
.text .btn{
    margin-top: 0;
}
/*  */

/* segundo boton */
.second_btn{
    padding: .8em;
    font-weight: 400;
    text-transform: uppercase;
    background-color: hsl(154, 59%, 51%);
    border-radius: 10px;
    box-shadow: 5px 10px 4px -5px  hsl(246, 25%, 77%) ;
    outline: none;
}
/* text_fin tinen de hijo a a_fin */
.text_fin{
    color:  hsl(246, 25%, 77%);
    padding: 2em 0;
    font-size: 16px;
    width: 70%;
    margin: 0 auto;
}
.a_fin{
    color: hsl(0, 100%, 74%);
    text-decoration: none;
}

@media (min-width: 1440px){
    h1{
        font-size: 40px;
    }
    form{
        display: block;
    }
    .form_center{
        margin-top: 5em;
    }
    .btn{
        height: 80px;
    }
    .conteiner_tex{
        height: 166 px   ;
    }
    .contenedor_text_btn{
        display: block;
        height: 50%;
        margin: auto 0;
    }
    .container{
        display: flex;
    }
    .text_header{
        margin-bottom:  16px;
    }
}
@media (min-width: 700px){
    h1{
        font-size: 30px;
    }
}